<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="doxygenerate.ZPM">
    <Module>
      <Name>doxygenerate</Name>
      <Version>0.2.1</Version>
      <Description>Generate Doxygen documentation for InterSystems IRIS apps</Description>
      <SystemRequirements Version=">=2023.1" />
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="gjsjohnmurray.doxygenerate.PKG" />
      <UnitTest Name="/tests" Package="gjsjohnmurray.doxygenerate.unittests" Phase="test" />
      <CSPApplication
        Url="/csp/doxygen"
        SourcePath="/src/csp"
        DeployPath="doxygenerate"
        Recurse="1"
        ServeFiles="1"
        CookiePath="/csp/doxygen"
        UseCookies="2"
        PasswordAuthEnabled="1"
      />
      <Invoke Phase="Activate" Class="gjsjohnmurray.doxygenerate.Utils" Method="Setup" CheckStatus="true" />
    </Module>
  </Document>
</Export>
