<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="doxygenerate.ZPM">
    <Module>
      <Name>Doxygenerate</Name>
      <Version>0.0.1</Version>
      <Description>Generate Doxygen documentation for an InterSystems IRIS app</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="gjsjohnmurray.doxygenerate.PKG"/>
      <UnitTest Name="/tests" Package="gjsjohnmurray.doxygenerate.unittests" Phase="test"/>
      <Invoke Phase="Activate" Class="gjsjohnmurray.doxygenerate.Utils" Method="Setup" CheckStatus="true"/>
    </Module>
  </Document>
</Export>
